* {
	margin: 0;
	padding: 0
}
table {
	width: 455px;
	height: 132px;	
	border-collapse: collapse;
	font-family: verdana;
	font-size: 11px
}
th {
	border: 1px solid #C0BEA4;
	background-image: url('pattern.png');
	background-repeat: repeat-x;
	height: 21px;
	color: white;
	font-weight: normal;
	text-align: left;
	padding-left: 7px
}
th:nth-of-type(1) {
	width: 132px
}
th:nth-of-type(2) {
	width: 100px
}
th:nth-of-type(3) {
	width: 118px
}
th:last-child {
	text-align: center;
	padding-left: 0
}
th:first-child, td:first-child {
	border-left: 0
}
th:last-child, td:last-child {
	border-right: 0
}
tr:last-child td {
	border-bottom: 1px solid #C0BEA4
}
tr:nth-of-type(2n+1) td {
	 background-color: #ECECD8
}
td {
	padding-left: 7px
}
td:not(:last-child) {
	border-right: 1px solid #C0BEA4
}
input[type="checkbox"] {
	margin-left: 5px;
	width: 14px;
	height: 14px
}
img {
	margin-top: 3px;
	margin-right: 3px
}
span {
	vertical-align: 3px;
	padding-left: 2px
}