body {
	background: #D492FE;
	background: -webkit-linear-gradient(#D492FE 10%, #9117F1 20%, #9215F2 100%);
	background: -o-linear-gradient(#D492FE 10%, #9117F1 20%, #9215F2 100%);
	background: linear-gradient(#D492FE 10%, #9117F1 20%, #9215F2 100%);  
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D492FE', endColorstr='#9215F2',GradientType=0 )
}
nav {
	border-radius: 15px
}
input[type="text"] {
	background-color: #B35EF3
}
input[type="password"] {
	background-color: #B35EF3
}
button {
	background-color: #B35EF3;
	border-left: 1px solid white !important;
	border-top: 1px solid white !important;
	box-shadow: 1px 1px black;
	color: white	
}
p, h1 {	
	color: white
}
article {
	border-radius: 15px
}
footer {
	text-align: center
}