<div class="panel panel-default">
    <div class="panel-heading">Add new TODO</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="text">Text: </label>
            <input id="todoText" type="text" name="text" />
        </div>
        <div class="form-group">
            <label for="category">Category: </label>
            <input id="todoCategory" type="text" name="category" />
        </div>
        <div class="form-group">
            <button id="btnAddTodo" type="submit" class="btn btn-info btn-block">Add</button>
        </div>
    </div>
</div>