* {
	margin: 0;
	padding: 0
}
#mainDiv {
	width: 800px;
	height: 60px;
	margin: 10px 0 0 10px
}
div{
	border: 1px solid #FF0000;
	background-color: #000000;
	border-radius: 60px;
	width: 90.6%;
	height: 100%;
	box-sizing: border-box
	
}
.rightDivs {
	border-top-width: 0.10em;
	border-bottom-width: 0.10em;
	box-sizing: border-box
}